img {
  width: 250px;
  height: 150px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 25px;
}
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 910px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid .details {
  background-color: rgb(228, 227, 226);
  padding: 12px;
  width: fit-content;
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  box-shadow: black;
}
.addToCartBtn {
  background-color: rgb(236, 103, 37);
  color: rgb(19, 18, 18);
  padding: 14px 20px;
  font-weight: bolder;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.addToCartBtn:hover {
  opacity: 0.8;
}
.rmFrmCrt {
  background-color: rgb(236, 103, 37);
  color: rgb(14, 6, 6);
  padding: 14px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  width: 100%;
}
.rmFrmCrt:hover {
  opacity: 0.8;
}
.rmFrmCrt-disable {
  background-color: rgb(226, 180, 135);
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  margin-top: 10px;
  border: none;
  width: 100%;
  border-radius: 7px;
}
