.Booking {
  position: absolute;
  top: 15%;
  box-sizing: border-box;
  left: 10%;
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
}
.ctrlOptions {
  float: left;
  display: inline-flex;
  width: 50%;
}
button {
  width: 93%;
  margin: 15px;
  background-color: rgb(34, 34, 77);
  color: white;
  border-radius: 10px;
  font-size: larger;
  padding: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgb(104, 116, 158);
}
